
body{
	font-family: 'Oxygen', sans-serif;
}
body h1{
	color: #FFF3CF;
}
.btn-default{

}

b{
	color: #A57356;
	font-size: 20px;
}

/* CUSTOM THE BUTTON COLOR : btn-copper*/
.btn-copper { 
	color: #ffffff; 
	background-color: #9E785F; 
	border-color: #947F6C; 
} 
 
.btn-copper:hover, 
.btn-copper:focus, 
.btn-copper:active, 
.btn-copper.active, 
.open .dropdown-toggle.btn-copper { 
	color: #ffffff; 
	background-color: #587868; 
	border-color: #947F6C; 
} 
 
.btn-copper:active, 
.btn-copper.active, 
.open .dropdown-toggle.btn-copper { 
	background-image: none; 
} 
 
.btn-copper.disabled, 
.btn-copper[disabled], 
fieldset[disabled] .btn-copper, 
.btn-copper.disabled:hover, 
.btn-copper[disabled]:hover, 
fieldset[disabled] .btn-copper:hover, 
.btn-copper.disabled:focus, 
.btn-copper[disabled]:focus, 
fieldset[disabled] .btn-copper:focus, 
.btn-copper.disabled:active, 
.btn-copper[disabled]:active, 
fieldset[disabled] .btn-copper:active, 
.btn-copper.disabled.active, 
.btn-copper[disabled].active, 
fieldset[disabled] .btn-copper.active { 
	background-color: #9E785F; 
	border-color: #947F6C; 
} 
 
.btn-copper .badge { 
	color: #9E785F; 
	background-color: #ffffff; 
}

.navbar{
	margin-bottom: 0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 750px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	margin-bottom: 100px;
	color: #FFFAEB;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 750px;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 750px;
}
.carousel-control {
position: absolute;
top: 0%;
z-index: 5;
display: inline-block;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
	/* Bump up size of carousel content */
	.carousel-caption h1 {
		font-size: 48px;
		line-height: 1.4;
		font-family: 'Syncopate', sans-serif;
	}
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 19px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 20px;
		font-family: 'Syncopate', sans-serif;
	}
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 100px;
	}
}

/*---------------imageContentBox-------------------- */
	.imageContentBox{
		height: 400px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.imageCover{
		background-color: rgba(17,13,11,0.7);
		display: flex;
	}
	.imageContent{
		padding:0px;
		background-color: rgba(17,13,11,0.6);
		height: 400px;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
	}
	.imageContent h1{
		font-size: 50px;
	}
	.imageContent p{
		padding:10px;
		font-size:20px;
	}
	
/*---------------footer-------------------- */
footer{
}
